<form [formGroup]="projectForm" (ngSubmit)="createProject(projectForm.value)">

   <div class="form-group mx-sm-3 mb-2">
    <label for="company">
      Company
    </label>
    <input novalidate
      id="company"
      class="form-control"
      formControlName="company"
      placeholder="Company in charge of project">
   </div>

   <div class="form-group  mx-sm-3 mb-2">
    <label for="internalProject">
      Is it Internal Project?
    </label>
   <input id="internalProject" type="text"
     class="form-control"
     formControlName="internalProject"
     placeholder="Say true or false">
  </div>

  <div class="form-group">
      <label for="projectProvider"><b>Provider</b></label>
      <select class="custom-select" name="projectProvider" id="projectProvider" [ngClass]="{ 'is-invalid': f.submitted && projectProvider.invalid }"
          required>
          <option [value]="provider.id" *ngFor="let p of providers">{{provider.name}}</option>
      </select>
      <div class="invalid-feedback">
          <div>The project's provider is missing</div>
      </div>
  </div>

  <button class="button mx-sm-3 mb-2" type="submit" [disabled]="projectForm.invalid">Submit</button>

</form>