<form [formGroup]="projectForm" (ngSubmit)="!projectForm.invalid &&createProject(projectForm.value)">

   <div class="form-group mx-sm-3 mb-2">
    <label for="company">
      Company
    </label>
    <input novalidate
      id="company"
      class="form-control"
      formControlName="company"
      placeholder="Company in charge of project">
   </div>

   <div class="form-group  mx-sm-3 mb-2">
    <label for="internalProject">
      Is it Internal Project?
    </label>
   <input id="internalProject" type="text"
     class="form-control"
     formControlName="internalProject"
     placeholder="Say true or false">
  </div>

  <div class="form-group mx-sm-3 mb-2">
      <label for="projectProvider">Choose the project's provider</label>
      <select class="custom-select" (change) ="onSelectShow($event.target.value)"[(ngModel)] = "project.provider.id" formControlName="providerSelect"  id="projectProvider"
          required>
          <option [value]="p.id" *ngFor="let p of providers">
            {{p.name}}
          </option>
      </select>
      <div class="invalid-feedback">
          <div>The project's provider is missing</div>
      </div>
  </div>

  <div class="form-group mx-sm-3 mb-2">
      <label for="projectLeader">Choose the project's leader</label>
      <select class="custom-select" (change) ="onSelectShow($event.target.value)"[(ngModel)] = "project.leader.id" formControlName="leaderSelect"  id="projectLeader"
          required>
          <option [value]="l.id" *ngFor="let l of developers">
            {{l.login}}
          </option>
      </select>
      <div class="invalid-feedback">
          <div>The project's leader is missing</div>
      </div>
  </div>

  <div class="form-group mx-sm-3 mb-2">
      <label for="projectHardware">Choose the project's hw</label>
      <select class="custom-select" (change) ="onSelectShow($event.target.value)"[(ngModel)] = "project.hw.id" formControlName="hardwareSelect"  id="projectHardware"
          required>
          <option [value]="h.id" *ngFor="let h of hardware">
            {{h.cpu}}
          </option>
      </select>
      <div class="invalid-feedback">
          <div>The project's hardware is missing</div>
      </div>
  </div>

  <button class="button mx-sm-3 mb-2" type="submit" [disabled]="projectForm.invalid">Submit</button>

</form>
