<div id="collapseAddHardware" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
        <h3>Agregar un hardware</h3>
        <form name="post" (ngSubmit)="hardwareForm.valid && postHardware(hardwareForm)" #hardwareForm="ngForm" novalidate>
              <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="hardwareIp"><b>Ip</b></label>
                        <input type="text" name="hardwareIp" class="form-control" id="hardwareIp" [(ngModel)]="hardware.ip"
                               #hardwareIp="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && hardwareIp.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's ip is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="hardwareCores"><b>Cores</b></label>
                        <textarea name="hardwareCores" class="form-control" id="hardwareCores" [(ngModel)]="hardware.cores"
                                  #hardwareCores="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && hardwareCores.invalid }"
                                  required></textarea>
                        <div class="invalid-feedback">
                            <div>The hardware's cores is missing</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                        <div class="form-group">
                            <label for="hardwareRam"><b>Ram</b></label>
                            <textarea name="hardwareRam" class="form-control" id="hardwareRam" [(ngModel)]="hardware.ram"
                                      #hardwareRam="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && hardwareRam.invalid }"
                                      required></textarea>
                            <div class="invalid-feedback">
                                <div>The hardware's ram is missing</div>
                            </div>
                        </div>
                </div>

                <div class="col">
                        <div class="form-group">
                            <label for="hardwareCpu"><b>Cpu</b></label>
                            <textarea name="hardwareCpu" class="form-control" id="hardwareCpu" [(ngModel)]="hardware.cpu"
                                      #hardwareCpu="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && hardwareCpu.invalid }"
                                      required></textarea>
                            <div class="invalid-feedback">
                                <div>The hardware's cpu is missing</div>
                            </div>
                        </div>
                </div>

                <div class="col">
                        <div class="form-group">
                            <label for="hardwarePlataforma"><b>Plataforma</b></label>
                            <textarea name="hardwarePlataforma" class="form-control" id="hardwarePlataforma" [(ngModel)]="hardware.plataforma"
                                      #hardwarePlataforma="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && hardwarePlataforma.invalid }"
                                      required></textarea>
                            <div class="invalid-feedback">
                                <div>The hardware's plataforma is missing</div>
                            </div>
                        </div>
                </div>


                
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Post hardware</button>
            </div>
        </form>
    </div>
</div>