<form [formGroup]="hardwareForm" (ngSubmit)="!hardwareForm.invalid &&createHardware(hardwareForm.value)">

  
    <div class="form-group mx-sm-3 mb-2">
        <label for="ip">
          Hardware's Ip
        </label>
        <input novalidate
          id="ip"
          type="text"
          class="form-control"
          formControlName="ip"
          placeholder="Ip of the hardware">
       </div>
    
   <div class="form-group mx-sm-3 mb-2">
    <label for="cores">
      Cores
    </label>
    <input novalidate
      id="cores"
      type="number"
      class="form-control"
      formControlName="cores"
      placeholder="Cores of hardware">
   </div>
  
   <div class="form-group mx-sm-3 mb-2">
    <label for="ram">
      Ram
    </label>
    <input novalidate
      id="ram"
      type="number"
      class="form-control"
      formControlName="ram"
      placeholder="Ram of hardware">
   </div>
  
   <div class="form-group mx-sm-3 mb-2">
    <label for="cpu">
      Cpu
    </label>
    <input novalidate
      id="cpu"
      type="text"
      class="form-control"
      formControlName="cpu"
      placeholder="Cpu of hardware">
   </div>
  
   <div class="form-group mx-sm-3 mb-2">
    <label for="plataforma">
      Plataforma
    </label>
    <input novalidate
      id="plataforma"
      type="text"
      class="form-control"
      formControlName="plataforma"
      placeholder="Plataforma of hardware">
   </div>

   <div class="form-group mx-sm-3 mb-2">
    <label for="projecto">Choose the project</label>
    
    <select class="custom-select" [(ngModel)] = "hardware.projecto" formControlName="projectSelect"  id="projectLeader"
        required>
        <option [ngValue]="l" *ngFor="let l of projects">
          
            {{l.name}}
       
     
        </option>
    </select>
    <div class="invalid-feedback">
        <div>The hardwares's project is missing</div>
    </div>
</div>

  
  
  
  <button class="button mx-sm-3 mb-2" type="submit" [disabled]="hardwareForm.invalid">Submit</button>
  
  </form>
  