<div id="collapseAddHardware" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
        <h3>Agregar un hardware</h3>
        <form name="post" (ngSubmit)="hardwareForm.valid && postHardware(hardwareForm)" #hardwareForm="ngForm" novalidate>
              <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="hardwareIp"><b>Ip</b></label>
                        <input type="number" name="hardwareIp" class="form-control" id="hardwareIp" [(ngModel)]="hardware.ip"
                               #ip="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && ip.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's ip is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="hardwareCores"><b>Cores</b></label>
                        <input type="number" name="hardwareCores" class="form-control" id="hardwareCores" [(ngModel)]="hardware.cores"
                               #cores="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && cores.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's cores is missing</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="hardwareRam"><b>Ram</b></label>
                        <input type="number" name="hardwareRam" class="form-control" id="hardwareRam" [(ngModel)]="hardware.ram"
                               #ram="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && ram.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's ram is missing</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="hardwareCpu"><b>Cpu</b></label>
                        <input type="text" name="hardwareCpu" class="form-control" id="hardwareCpu" [(ngModel)]="hardware.cpu"
                               #cpu="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && cpu.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's cpu is missing</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="hardwarePlataforma"><b>Plataforma</b></label>
                        <input type="text" name="hardwarePlataforma" class="form-control" id="hardwarePlataforma" [(ngModel)]="hardware.plataforma"
                               #plataforma="ngModel" [ngClass]="{ 'is-invalid': hardwareForm.submitted && plataforma.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The hardware's plataforma is missing</div>
                        </div>
                    </div>
                </div>


                
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Post hardware</button>
            </div>
        </form>
    </div>
</div>