<h2>Developers</h2>
<div class="container">
	<div class="row">
    <div class="col-10">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Is Leader?</th>
            <th scope="col">info</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of developers" >
            <th scope="row">{{d.id}}</th>
            <td>{{d.name}}</td>
            <td>{{d.login}}</td>
            <td>{{d.email}}</td>
            <td>{{d.leader}}</td>
            <td><a class="btn btn-primary btn-sm" [routerLink] ="['/developers', { outlets: { 'detail': [d.id] } }]">Detalles</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
<button class="button mx-sm-3 mb-2" [routerLink]="['/developers',{outlets:{'create':'add'}}]" >Add developer</button>
