<div id="collapseHardware" [ngbCollapse]="isCollapsed">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><span id="project-hardware"><b>{{hardware.id}}</b></span>:<span></span> 
                <span id="hardware-ip">{{hardware.ip}}</span><br><span id="hardware-plataforma"><i>{{hardware.plataforma}}</i></span>
                <span id="hardware-cores">{{hardware.cores}}</span><br><span id="hardware-cpu"><i>{{hardware.cpu}}</i></span>      
                <span id="hardware-ram">{{hardware.ram}}</span></td>
            </tr>
        </tbody>
    </table>
</div> 