<form [formGroup]="requestForm" (ngSubmit)="!requestForm.invalid &&createRequest(requestForm.value)">

        <div class="form-group mx-sm-3 mb-2">
         <label for="name">
           Name
         </label>
         <input 
           id="name"
           class="form-control"
           formControlName="name"
           placeholder="Name of your request">
        </div>
     
        <div class="form-group  mx-sm-3 mb-2">
            <label for="purpose">
              What is the purpose of you request?
            </label>
            <input id="purpose" type="text"
              class="form-control"
              formControlName="purpose"
              placeholder="Your request's purpose">
        </div>
        
        <div class="form-group  mx-sm-3 mb-2">
            <label for="description">
                Describe your request
            </label>
            <input id="description" type="text"
              class="form-control"
              formControlName="description"
              placeholder="Your request's description">
        </div>
                    
        <div class="form-group  mx-sm-3 mb-2">
            <label for="budget">
               What is your request's budget?
            </label>
            <input id="budget" type="number"
              class="form-control"
              formControlName="budget"
              placeholder="Your request's budget">
        </div>      
             
                         
     
       <button class="button mx-sm-3 mb-2" type="submit" [disabled]="requestForm.invalid">Submit</button>
     
     </form>