<div id="collapseAddReview" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
        <h3>Agregar una iteración</h3>
        <form name="post" (ngSubmit)="iterationForm.form.valid && postIteration(iterationForm)" #iterationForm="ngForm" novalidate>
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="iterationObjetive"><b>Objetive</b></label>
                        <input type="text" name="iterationTitle" class="form-control" id="iterationTitle" [(ngModel)]="iteration.objetive"
                               #iterationObjetive="ngModel" [ngClass]="{ 'is-invalid': iterationForm.submitted && iterationTitle.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The iteration's objetive is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="iterationValidationDate"><b>validationDate</b></label>
                        <input type="text" name="iterationValidationDate" class="form-control" id="iterationValidationDate" [(ngModel)]="iteration.validationDate"
                               #iterationValidationDate="ngModel" [ngClass]="{ 'is-invalid': iterationForm.submitted && reviewTitle.invalid }" required>
                               <div class="invalid-feedback">
                            <div>The iteration's validationDate is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="iterationChanges"><b>changes</b></label>
                        <textarea name="iterationChanges" class="form-control" id="iterationChanges" [(ngModel)]="iteration.changes"
                                  #iterationChanges="ngModel" [ngClass]="{ 'is-invalid': iterationForm.submitted && iterationChanges.invalid }"
                                  required></textarea>
                        <div class="invalid-feedback">
                            <div>The iteration's changes is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="iterationBeginDate"><b>beginDate</b></label>
                        <textarea name="iterationBeginDate" class="form-control" id="iterationBeginDate" [(ngModel)]="iteration.beginDate"
                                  #iterationBeginDate="ngModel" [ngClass]="{ 'is-invalid': iterationForm.submitted && iterationBeginDate.invalid }"
                                  required></textarea>
                        <div class="invalid-feedback">
                            <div>The iteration's beginDate is missing</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="iterationEndDate"><b>Description</b></label>
                        <textarea name="iterationEndDate" class="form-control" id="iterationEndDate" [(ngModel)]="iteration.endDate"
                                  #iterationEndDate="ngModel" [ngClass]="{ 'is-invalid': iterationForm.submitted && iterationEndDate.invalid }"
                                  required></textarea>
                        <div class="invalid-feedback">
                            <div>The iteration's changes is missing</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Post iteration</button>
            </div>
        </form>
    </div>
</div>